<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- DistriBBS configuration test file -->
<configuration>
	<!-- Station Details -->
	<callsign>G0TAI-2</callsign>


	<!-- Connectivity setup -->
	<connectivity>

		<!-- Connector types can be: S127x, IPv4, IPv6, AX25, GPS -->
		<connector>
			<type>org.prowl.distribbs.node.connectivity.sx127x.SX127x</type>
			<!-- Slot 0 = 144MHz module slot -->
			<slot>0</slot>
			<!-- The frequency to transmit and receive, in Hz -->
			<frequency>144700000</frequency>
			<!-- The deviation to use in Hz (eg: you want 2600 for 12.5k channel spacing) -->
			<deviation>2600</deviation>
			<!-- The baud rate to use (max 4k8 baud with 2600Hz deviation, 12.5k with 
				5, etc) -->
			<baud>4800</baud>
			<!-- MSK modulation. Others are LoRa, GMSK, GFSK -->
			<modulation>MSK</modulation>
			<!-- Should we announce (send our callsign) every X minutes? -->
			<announce>true</announce>
			<!-- Announces the node via LoRa every X minutes (minimum 5) -->
			<announcePeriod>60</announcePeriod>
		</connector>


		<connector>
			<type>org.prowl.distribbs.node.connectivity.sx127x.SX127x</type>
			<!-- Slot 1 = 433MHz module slot -->
			<slot>1</slot>
			<!-- The frequency to transmit and receive, in Hz -->
			<frequency>433825000</frequency>
			<!-- The deviation to use in Hz (eg: you want 2600 for 12.5k channel spacing) -->
			<deviation>5</deviation>
			<!-- The baud rate to use (max 4k8 baud with 2600Hz deviation, 12.5k with 
				5, etc) -->
			<baud>12500</baud>
			<!-- MSK modulation. Others are LoRa, GMSK, GFSK -->
			<modulation>MSK</modulation>
			<!-- Should we announce (send our callsign) every X minutes? -->
			<announce>true</announce>
			<!-- Announces the node via LoRa every X minutes (minimum 5) -->
			<announcePeriod>60</announcePeriod>
		</connector>

		<!-- Our internal GPS connector -->
		<connector>
			<type>org.prowl.distribbs.node.connectivity.gps.GPS</type>
		</connector>

		<!-- APRS-IS connector, the callsign used is the node callsign -->
		<connector>
			<type>org.prowl.distribbs.node.connectivity.aprs.APRSIS</type>
			<server></server>
			<password></password>
			<announcePeriod>10</announcePeriod>
			<aprsSymbols>/#</aprsSymbols> <!-- Aprs Symbol table: /> is a car, /# a digi, etc -->
			<!-- <comment>A comment about your station</comment> -->
		</connector>


		<!-- IPv4 connector. Have one of these sections for each node that you 
			want to connect to -->
		<connector>
			<type>org.prowl.distribbs.node.connectivity.ipv4.IPv4</type>
			<listenIp>0.0.0.0</listenIp> <!-- The IP to listen to requests on -->
			<listenPort>0</listenPort> <!-- The port to listen on -->
			<remoteIp>0.0.0.0</remoteIp> <!-- The remote ip we are connecting to -->
			<remotePort>0</remotePort> <!-- The remote port to connect to -->
			<announce>true</announce>
			<remoteCallsign>N0CALL</remoteCallsign> <!-- The remote nodes callsign -->
			<peerSecret>ThisIsASecretYouShareBetweenYourPeerKeepItSecureAndUnique
			</peerSecret> <!-- Shared between both nodes -->
		</connector>

		<!-- AX25 uses the callsign defined in 'callsign' above. -->
		<connector>
			<type>org.prowl.distribbs.node.connectivity.ax25.AX25</type>
			<!-- Sends a UI announce packet every X minutes (minimum 15) -->
			<announce>true</announce>
			<announcePeriod>60</announcePeriod>
			<!-- Are we a BBS? If true then people can send/rx from you using a text 
				only interface -->
			<bbsEnabled>false</bbsEnabled>
		</connector>

	</connectivity>

	<ui>
		<!-- Enable the ANSI terminal interface -->
		<interface>
			<type>org.prowl.distribbs.ui.ansi.ANSIServer</type>
		</interface>
	</ui>

	<services>

		<service>
			<type>chat</type>
		</service>

		<service>
			<type>messages</type>
		</service>

		<service>
			<type>aprs</type>
		</service>

		<service>
			<type>newsgroups</type>
		</service>

		<service>
			<type>qsl</type>
		</service>

	</services>

	<storage></storage>

	<!-- Filters are used to hide messages that you do not want to see from 
		your node using the 'hide' tag, and not carry messages at all using the 'discard' 
		tag. RE Regular expressions are supported. -->
	<filters>

		<!-- Hides any messages containing this word from your message list -->
		<hide>viagra</hide>
		<hide>xanax</hide>

		<!-- Hides any messages from this callsign -->
		<hidecall>NOCALL</hidecall>
		<hidecall>N0CALL</hidecall>

		<!-- Doesn't allow messages containing this word in *any* of the message 
			text or headers on your node, leading and trailing spaces supported, as are 
			regexps -->
		<discard> cunt</discard>
		<discard>fuck</discard>

	</filters>

	<remote>
		<!-- Allow remote radio TX closedowns of the radio ports? You can closedown 
			your node by going to the 'REMOTE' chat group and typing: 'closedown [callsign] 
			[secretphrase]' -->
		<allowremoteClosedown>true</allowremoteClosedown>

		<!-- The secret phrase used to remotely closedown your station if required. 
			You should change this after using it as it should be treated as a one-time 
			phrase -->
		<remoteClosedownPhrase>MySecretPhrase</remoteClosedownPhrase>
	</remote>

</configuration>